.perspective-500 {
  perspective: 500px;
}
.transform-style-preserve-3d {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}

.odd-face {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.odd-face-content {
  font-size: var(--xlarge);
  color: var(--accent);
  font-family: 'Alice_Wonderland_2';
  font-weight: bold;
}

