.Header {
    height: 5vh;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    position: relative;
}

.header-link {
    color: var(--secondary);
    font-weight: bold;
    font-size: var(--medium-large);
    font-family: Alice_Wonderland_2;
    transition: 0.5s;

    &:hover {
        color: var(--accent);
        transition: 0.5s;
    }
}
