.Header {
    height: 5vh;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    position: relative;
}

a {
    color: var(--secondary);
    font-weight: lighter;
    transition: 0.5s;
}

a:hover {
    color: var(--accent);
    transition: 0.5s;
}