.Home {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: 95vh;
    background-image: url('https://images.unsplash.com/photo-1521308452854-e037c0062a1e?q=80&w=1933&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}