.Home {
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

h2 {
    font-size: 5rem;
    font-family: "Alice_Wonderland_2";
}

@keyframes inkReveal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.Home::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/tattoo_mockup.jpg);
    background-size: cover;
    background-position: center;
    transform: scaleX(-1);
    z-index: -2;
    
    mask-image: url(../assets/images/ink_lv2.gif);
    mask-size: cover;
    mask-position: center;
    animation: inkReveal 0.3s ease-in-out;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 95vh;
    width: 100%;
    position: relative;
    padding: 0 20px;
    box-sizing: border-box;
}

.content-container {
    width: 95%;
    z-index: 1;
    display: flex;
    justify-content: flex-start; /* Aligne le contenu à gauche */

    h2 {
        color: var(--secondary);
        font-size: var(--xxxlarge);
    }

    span {
        font-family: "Alice_Wonderland_2";
        color: var(--secondary);
        transition: color 0.3s ease-in-out;

        &:hover {
            color: var(--accent);
            transition: color 0.3s ease-in-out;
        }
    }

    .button {
        font-size: var(--large);
        padding: var(--medium-large) var(--xlarge);
        background: var(--accent);
        color: var(--primary);
        font-weight: lighter;
        font-family: "Alice_Wonderland_2";
        box-shadow: 0 0 5px var(--accent);
        transition: box-shadow 0.5s ease-in-out;

        &:hover {
            box-shadow: 0 0 15px var(--accent);
            transition: box-shadow 0.5s ease-in-out;
        }
    }

    .button-light {
        font-size: var(--large);
        color: var(--secondary);
        padding: var(--medium-large) var(--xlarge);
        font-weight: lighter;
        font-family: "Alice_Wonderland_2";
        transition: color 0.3s ease-in-out;

        &:hover {
            color: var(--accent);
            transition: color 0.3s ease-in-out;
        }
    }
    
}

.text {
    margin-bottom: 20px;
    max-width: 80%;
    font-size: var(--large);
}

.text-container {
    max-width: 55%;
    margin-left: 5%; 
    text-align: left; 

}

h2, p {
    text-align: left;
}

.model-container {
    width: 45%;
    height: 70vh;
    margin-bottom: 100px;
    position: relative;
    z-index: 1;
}