body.makeup-page {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),  url('../assets/images/burgundy_textured_background.jpg');
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 100vh;
}

.container-makeup {
    /* Glassmorphism effect */
    background: rgba(241, 226, 186, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 50px;
    color: var(--secondary);

    p, h2 {
        color: var(--secondary);
    }
}

nav {
    position: relative;
    z-index: 10;
    width: 100%;
    background: transparent;
}

.title-makeup {
    color: var(--secondary);
    font-size: var(--xxlarge);
}