body.project-page {
    background-image: url(../assets/images/cathedrale_goth.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.project-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5svh auto;
    padding: 4rem;
    color: white;
    width: 70%;
    height: 80svh;

    /* Glassmorphism effect */
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

    @media (max-width: 768px) {
        width: 95%;
        padding: 20px;
        flex-direction: column;
        gap: 30px;
    }

    .project-text {
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: calc(var(--xlarge) - 5px);
        color: var(--secondary);
    }
}

.project-content-container {
    width: 30svw;

    h2 {
        color: var(--secondary);
        font-size: calc(var(--xxxlarge) - 7px);
        line-height: 1.0;
    }
}

.video-container {
    display: flex;
    justify-content: center;

    Video {
        width: 60%;
        transform: scale(1);
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: scale(1.05);
            transition: transform 0.3s ease-in-out;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1700px) {
    h2 {
        font-size: calc(var(--xxlarge));
    }

    .project-text {
        font-size: calc(var(--medium-large) + 4px);
    }
}