body.tattoo-page {
    background-image: url('../assets/images/armure.jpg');
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.container-tattoo {
    width: 100%;
    padding: 2rem;
    /* Assure que le conteneur peut s'étendre verticalement */
    min-height: 100vh;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    body.tattoo-page {
        background-attachment: scroll;
    }
    
    .container-tattoo {
        width: 100%;
        padding: 1rem;
        min-height: 100vh;
    }
}