.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  font-family: Coolvetica_Regular;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}


@font-face {
  font-family: 'Alice_Wonderland';
  src: url('../src/assets/fonts/alice_in_wonderland/Alice_in_Wonderland_3.ttf') format('truetype');
}

@font-face {
  font-family: 'Alice_Wonderland_2';
  src: url('../src/assets/fonts/alice_in_wonderland_2/Alice_in_Wonderland.ttf') format('truetype');
}

@font-face {
  font-family: 'Coolvetica_Regular';
  src: url('../src/assets/fonts/coolvetica/Coolvetica_Rg.otf') format('opentype');
}
