body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Helvetica Neue', sans-serif;
}

* {
  font-family: Coolvetica_Regular;
}

/* Define var colours */
:root {
  --primary: #f1e2ba;
  --secondary: #080808;
  --accent: #790e09;
  --accent-secondary: #27265e;
  --accent-light: #bb9c85;

  --primary-rgba: 241, 226, 186;
  --secondary-rgba: 8, 8, 8;
  --accent-rgba: 121, 14, 9;

  /* Define var font size */
  --xsmall: 4px;
  --small: 8px;
  --medium: 16px;
  --medium-large: 20px;
  --large: 28px;
  --xlarge: 40px;
  --xxlarge: 60px;
  --xxxlarge: 100px;
  --xxxxlarge: 160px;
  --xxxxxlarge: 240px;
}

/* Define font faces */
@font-face {
  font-family: 'Alice_Wonderland';
  src: url('../src/assets/fonts/alice_in_wonderland/Alice_in_Wonderland_3.ttf') format('truetype');
}

@font-face {
  font-family: 'Alice_Wonderland_2';
  src: url('../src/assets/fonts/alice_in_wonderland_2/Alice_in_Wonderland.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Coolvetica_Regular';
  src: url('../src/assets/fonts/coolvetica/Coolvetica_Rg.otf') format('opentype');
}

@font-face {
  font-family: 'Coolvetica_Regular_Italic';
  src: url('../src/assets/fonts/coolvetica/Coolvetica_Rg_It.otf') format('opentype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;