name: lint
on:
  push:
    branches: [ main, master ]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name : Install dependencies
        run: npm install
      - name : Run lint
        run: npm run lint
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: lint-report
          path: lint-report/
          retention-days: 15